<header>
  <h1>Reuben's To Do List</h1>
</header>


<div class='item-container'>
  <% @items.each do |item| %>
    <article id="<%= item.id %>">
      <h3><%= item.title %></h3>
      <p>
        <p><%= item.description %></p>
        <span class='due-date'> Due Date <%= item.due %></span> <br><p>Completed? </p>
        <a class='completed' href='/items/<%= item.id %>/completed'><%= item.complete %></a> <br>
        <form class="delete" action='/items/<%= item.id %>' method='post'>
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="delete item"></form>
        <a class="edit-link" href='/items/<%= item.id %>/edit'>edit item</a>
      </p>
    </article>

  <% end %>
</div>
<form id="new-item-form" method="post" action="/items">
  <input type="text" name="title" placeholder="title">
  <input type="text" name="description" placeholder="description">
  <input type="date" name="due" placeholder="due date">
  <input type="submit" value="submit new item">
</form>
